@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Bonheur+Royale&family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,500;1,600;1,700&display=swap');
/* Global */
body {
    
    font-family: 'Baloo 2', sans-serif;
}

textarea {
    min-height: 400px;
}

/* Background */
#credential-bg{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
   
    background-size: cover;
    /* placed at the top */
    background-position: center top;
    opacity: 0.95;
}

#mailbox-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
   
    background-size: cover;
    /* placed at the top */
    background-position: center top;
    opacity: 0.6;
}



/* Credential page */
.credential-box {
    position: absolute;
    z-index: 1;

    max-width: 30rem;
    min-width: 25rem;

    text-align: center;

    color: white;

    background-color: rgba(49, 10, 57, 0.672);
    mix-blend-mode: lighten;
    border-radius: 1rem;
    padding: 3rem 1rem;

}

/* User account info container */
.form-group {

    border-radius: 2rem;
    padding: 1.125rem 1.25rem;
    background: transparent; 
    border: none;
    /* Set box show that makes the button a little bit coming out */
    box-shadow: 0 0.252rem 1rem rgba(0, 0, 0, 0.15);

    margin: 2rem 0;
    
}

.form-group:focus {

    background: transparent;
    border: 1px solid rgb(148, 198, 244);
    box-shadow: none
 
}

.form-control {
    background: transparent;
    border: none;
    color: inherit;
}

.form-control:focus {
    color: #ffffff;
    background: transparent;
    border: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: #b6b6b6;
}

.eye-icon {
    cursor: pointer;
    font-size: 1.375rem;
    
}




/* Login or Register btn */
.credential-btn {
    border-radius: 2rem;
    padding: 1rem 1.25rem;
    background-color: rgb(65, 34, 76);
    color: white;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
   
}

.credential-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);
    color: rgb(220, 181, 252);
    font-weight: bolder;
    
} 

/* Prompt for register or log in */
.user-prompt {
    color: #68a2e0;
    transition: all 0.1s ease-in-out;
}

.user-prompt:hover {
    color: rgb(244, 132, 68);
    font-weight: bolder;
    text-decoration: none;
}


/* Compose form field */
#compose-form .form-control:focus {
    color: #000000;
}



#mail-icon {
    mix-blend-mode: color-burn;   
}


/* Animation for message */
@keyframes shrink {
    0% {
        opacity: 1;
        font-size: 16px;
        padding: 12px;
        margin-bottom: 10px;

    }

    70% {
        opacity: 1;
        font-size: 16px;
        padding: 12px;
        margin-bottom: 10px;

    }

    80% {
        opacity: 0;
        font-size: 16px;
        padding: 12px;
        margin-bottom: 10px;
    }

    100% {
        opacity: 0;
        font-size: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.shrink {
    animation-name: shrink;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


/* Logout button */
#logout {
    transition: all 0.1s ease-in-out;
    width: 80px;
    height: 2rem;
}

#logout:hover {
    color: rgb(250, 97, 97);
    transform: scale(1.01);
    font-weight: bolder;
}



/* Compose btn */
.hamburger-btn:hover {

    /* Larger shadow at the bottom */
    box-shadow: 0 0.252rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: scale(1.01);
}

#hamburger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    z-index: 100;
}

.nav-bar {
    flex-basis: 36rem;
    max-width: 45rem;
    flex-grow: 1;
}

/* Nav btns */
.nav-btn {
    max-width: 15rem;
    flex-grow: 1;
    height: 3.5rem;
    padding: 10px 0;
    margin: 0px;

    font-size: 1.125rem;

    border-bottom: 5px solid rgba(152, 152, 152, 0.715);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}

.nav-btn:hover {
    background-color: #ededeeba;
}

.nav-icon {
    margin-right: 0.5rem;
}

.nav-icon::before {
    transform: translateY(-1%);
}



/* Email body Table style */

#mails-container {
    border-top: 1px solid #dadce0;
    padding: 0 15px;
}

.mail-container {
    cursor: pointer;
    

}

.mail-container:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}



/* Archive toggle css */
#archive-toggle {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
}

#archive-toggle:hover {
    background: #dadce0;
}

.archive-icon::before {
   padding-top: 1rem;
}


/* Utils */
.active {
    color: rgb(19, 122, 219);
    font-weight: bold;
    border-bottom: 5px solid rgb(19, 122, 219);
}

.small-text {
    font-size: 0.75rem;
}

.read {
    background-color: #9dbfbb7f;
    border-bottom: 1px solid #dadce0;
}

.unread {
    border: 2px solid rgb(43, 144, 142);
    font-weight: 800;
    border-radius: 5px;
    font-size: 1.125rem;

}


/* Animation: mail moving in  */
@keyframes move-in {
    0% {
        transform: translateX(-70%);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.move-in {
    animation-name: move-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

