{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<!-- Header section -->
<div class="container-fluid d-flex justify-content-between pt-3 px-lg-5">
    <!-- Container for email icon and compose button-->
    <div id="mail-icon" class="d-flex align-items-center ">
        <img class="gb_Kc" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
            srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png 1x, https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x_r5.png 2x "
            alt="" aria-hidden="true" role="presentation" style="width:130px;height:50px">

        <!-- compose btn -->
        <a class="ml-4 btn d-flex align-items-center rounded-pill py-2 px-4 shadow-sm" id="compose">
            <!-- compose icon -->
            <svg height="18px" width="18px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Layer_1" />
                <g id="pen_x5F_alt_x5F_stroke">
                    <path
                        d="M29.656,2.344C28.094,0.781,26.047,0,24,0s-4.094,0.781-5.656,2.344L0.031,20.656L0,32h11.312   l18.344-18.344C32.781,10.531,32.781,5.469,29.656,2.344z M9.656,28H9.613c1.562-1.562,1.562-4.125,0-5.688   c-1.496-1.496-3.859-1.516-5.43-0.148L21.137,5.211l5.656,5.656L9.656,28z"
                        style="fill:#4E4E50;" />
                </g>
            </svg>
            <div class="ml-3 text-secondary "><strong>Compose</strong></div>
        </a>
    </div>
    <!-- Container for user info & logout -->
    <div class="d-flex align-items-center ">
        <strong>{{ request.user.email }}</strong>
        <a id="logout" class="ml-3 btn btn-sm" href="{% url 'logout' %}">Log Out</a>
    </div>
</div>
<hr>

<!-- Nav bar buttons -->
<div class="d-flex text-center justify-content-center ">
    <div class="nav-bar d-flex">
        <div class="nav-btn" id="inbox">
            <!-- A mail icon -->
            <i class="bi bi-envelope-paper-fill nav-icon"></i>
            Inbox
        </div>
        <div class="nav-btn" id="sent">
            <i class="bi bi-send-fill nav-icon"></i>
            Sent
        </div>
        <div class="nav-btn " id="archived">
            <i class="bi bi-folder nav-icon"></i>
            Archived
        </div>
    </div>

</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <!-- Open Mail View -->
        <div id="open-mail-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto">
        </div>

        <!-- Emails View -->
        <div id="emails-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto px-0">
        </div>

        <!-- Compose View -->
        <div id="compose-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group ">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input id="submit-compose" type="submit" class="btn btn-primary rounded-pill mt-3 px-4" value="Send" />
            </form>
        </div>
    </div>


</div>




{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}