{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

<!-- Video background -->
<video autoplay muted loop id="mailbox-bg">
    <source src="{% static 'mail/videos/mailbox_bg.mp4' %}" type="video/mp4">   
</video>

<!-- Header section -->

<nav id="hamburger" class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid justify-content-end ">

        <!-- Hamburgur Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu List of Buttons -->
        <div class="collapse navbar-collapse mt-1 mt-mg-0 hamburger-menu rounded-lg " id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-end align-items-md-center ">

                <!-- User Name -->
                <li class="nav-item d-none d-md-block">
                    <strong class="ml-3">{{ request.user.email }}</strong>
                </li>
                
                <!-- Compose btn -->
                <li class="d-md-none w-100 pt-1">
                    <a class="btn d-flex align-items-center shadow-hover w-100 compose-btn" id="compose">
                        <i class="bi bi-pencil-square pr-2 pt-1 col-2"></i>
                        <strong class="col-10  pr-0 pl-3 text-left ">Compose</strong>
                       
                    </a>
                </li>

                <!-- Log out -->
                <li class="w-100">
                    <a id="logout" class="btn d-flex align-items-center shadow-hover w-100 h-auto " href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-right pt-1 col-2"></i>
                        <strong class="col-10 pr-0 pl-3 text-left">Log Out</strong>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header: Logo & Compose button -->
<div class="main-page container-fluid pt-3 px-lg-5 d-flex ">
    
    <div class="d-flex align-items-center" type="button">
        <!-- Logo -->
        <img id="mail-icon" src="{% static 'mail/images/mail_i3.png' %}" alt="mail icon" width="50px">
        <h3 class="mb-0 mt-2 text-dark " style="font-weight: bold;">SwiftSend</h3>

        <!-- Compose Button -->
        <div class="d-none d-md-block ">
            <a class="ml-4 btn d-flex align-items-center rounded-pill py-2 px-4 shadow-sm shadow-hover compose-btn" id="compose">
           
                <svg height="18px" width="18px" style="enable-background: new 0 0 32 32;" version="1.1" viewBox="0 0 32 32"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Layer_1" />
                    <g id="pen_x5F_alt_x5F_stroke">
                        <path
                            d="M29.656,2.344C28.094,0.781,26.047,0,24,0s-4.094,0.781-5.656,2.344L0.031,20.656L0,32h11.312   l18.344-18.344C32.781,10.531,32.781,5.469,29.656,2.344z M9.656,28H9.613c1.562-1.562,1.562-4.125,0-5.688   c-1.496-1.496-3.859-1.516-5.43-0.148L21.137,5.211l5.656,5.656L9.656,28z"
                            style="fill:#4E4E50;" />
                    </g>
                </svg>
                <div class="ml-3 pt-1 text-dark "><strong>Compose</strong></div>
            </a>
        </div>
        
    </div> 
        
    
</div>

<hr>

<!-- Nav bar buttons -->
<div class="d-flex text-center justify-content-center ">
    <div class="nav-bar d-flex">
        <div class="nav-btn" id="inbox">
            <!-- A mail icon -->
            <i class="bi bi-envelope-paper-fill nav-icon"></i>
            Inbox
        </div>
        <div class="nav-btn" id="sent">
            <i class="bi bi-send-fill nav-icon"></i>
            Sent
        </div>
        <div class="nav-btn " id="archived">
            <i class="bi bi-folder nav-icon"></i>
            Archived
        </div>
    </div>

</div>

<hr>

<!-- Main body of the page -->
<div class="container-fluid">
    <div class="row">
        <!-- Open Mail View -->
        <div id="open-mail-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto">
        </div>

        <!-- Emails View -->
        <div id="emails-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto px-0">
        </div>

        <!-- Compose View -->
        <div id="compose-view" class="col-12 col-md-9 col-lg-8 col-xl-7 m-md-auto">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group ">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input id="submit-compose" type="submit" class="btn btn-primary rounded-pill mt-3 px-4" value="Send" />
            </form>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}